<h1 class="styled-title">
	<%= @article.title %>
</h1>

<p class="styled-title">
	<%= @article.text %>
</p>

<br><h3 class="styled-title">Comments</h3>
	
	<!--
	Implement fade in for when someone adds a comment.
	<p class="recent-comm"><%= @article.comments.last %></p>-->
	<% @article.comments.reverse.each do |comment| %>

		<%= render comment %>

	<% end %>

<h3 class="styled-title">Leave a comment:</h3>
	
	<%= render "comments/form" %>
	
<div class="styled-title">
	<%= link_to 'Edit Entry', edit_article_path(@article), class:"btn btn-link"%>
	<%= link_to 'Back to Entries', articles_path, class:"btn btn-link" %>
</div>