<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door|Shadows+Into+Light' rel='stylesheet' type='text/css'></head>
<body>

<div class="container">
	<ul class="nav nav-tabs">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Entries", articles_path %></li>
	</ul>

	<%= yield %>

</div>

<div class="styled-title">
	<p>Julianne Farrar's Blog. Copyright 2014.</p>
</div>

</body>
</html>
